<nav class="navbar navbar-expand-lg  bg-dark" >
    <div class="container-fluid">
      <a class="navbar-brand">Sistema de Turnos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navegacion">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="inicio" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="galeria" href="#">Galería</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="servicios" href="#">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contactos" href="#">Contactos</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </nav>