.seccion-servicios{
    width: 100%;
    background-color: rgb(13, 129, 120);
    text-align: center;
padding: auto;
}

.seccion-servicios h2{
padding-top: 20px;

margin-top: 0px;
color: white;
font-size: 30px;
text-shadow: 0px 8px 5px rgb(0 0 0);
font-family: 'Lobster Two', cursive;
  }

.seccion-servicios h2{
    padding-top: 20px;
    margin-top: 0px;
    color: white;
    font-size: 30px;
    text-shadow: 0px 8px 5px rgb(0 0 0);
    font-family: 'Lobster Two', cursive;
  }
