<section id="servicios" class="seccion-servicios">
    <h2>Nuestros Servicios</h2>
    <section class="container-fluid">
  
      <section class="container-fluid">
        <div class="row justify-content-around p-3">
        <div class="col-3 col-md-4 elemento">
          <div class="card" style="width: 15rem;">
            <img src="assets/card1.jpg" class="card-img-top" alt="card1">
            <div class="card-body">
              <h5 class="card-title">Atencion las 24hs</h5>
              <p class="card-text">Contamos con atencion las 24 horas del día, los 365 dias del año.</p>
              </div>
          </div>
        </div>
        <div class="col-3 col-md-4 elemento">
          <div class="card" style="width: 15rem;">
            <img src="assets/card2.jpg" class="card-img-top" alt="card1">
            <div class="card-body">
              <h5 class="card-title">Comprá rápido y fácil!</h5>
              <p class="card-text">De manera sencilla y rápida podrás efectuar un pedido en nuestro sitio de un amplio
                stock de productos.</p>
              </div>
          </div>
        </div>
        <div class="col-3 col-md-4 elemento">
          <div class="card" style="width: 15rem;">
            <img src="assets/card3.jpg" class="card-img-top" alt="card1">
            <div class="card-body">
              <h5 class="card-title">Los mejores precios</h5>
              <p class="card-text">Tenemos una gran variedad de medicamentos con los mejores precios.</p>
              </div>
          </div>
        </div>
        </div>
        </section>
   
  </section>
