 <!--Seccion de productos (Galeria)-->
 <section id="productos" class="seccion-productos">
    <h2>Nuestros Productos</h2>

    <div class="container" >
      <div class="row row-cols-3">
        <div class="col-md-4">
          <div class="card" style="width: 15rem;">
            <img src="assets/adermicina.jpg" class="card-img-top" alt="adermicina">
            <div class="card-body">
              <h5 class="card-title">Adermicina</h5>
              <p class="card-text">Crema X 30 GRS</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 15rem;">
            <img src="assets/alernix.jpg" class="card-img-top" alt="alernix">
            <div class="card-body">
              <h5 class="card-title">Alernix</h5>
              <p class="card-text">Spray nasal X 120 ML</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 15rem;">
            <img src="assets/buscapina.jpg" class="card-img-top" alt="buscapina">
            <div class="card-body">
              <h5 class="card-title">Buscapina</h5>
              <p class="card-text">Caja X 10 comprimidos</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 15rem;">
            <img src="assets/tafirol.jpg" class="card-img-top" alt="Tafirol">
            <div class="card-body">
              <h5 class="card-title">Tafirol</h5>
              <p class="card-text">Forte X 10 comprimidos</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 15rem;">
            <img src="assets/melatol.png" class="card-img-top" alt="melatol">
            <div class="card-body">
              <h5 class="card-title">Melatol Plus</h5>
              <p class="card-text">Caja X 10 comprimidos</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 15rem;">
            <img src="assets/next.jpg" class="card-img-top" alt="next">
            <div class="card-body">
              <h5 class="card-title">Next</h5>
              <p class="card-text">Caja X 10 comprimidos</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
