
.card{
  margin: 20px;
  min-height: 400px;

    }
/*.col{
width: 100%;

}
.row{
  width: 100%;

}*/
.card img{
  background:  no-repeat center center;
  background-size: cover;


}
.seccion-productos{
    width: 100%;
    background-color: rgb(21, 91, 131);
    text-align: center;

  }

.seccion-productos h2{
    padding-top: 20px;
    margin-top: 0px;
    color: white;
    font-size: 30px;
    text-shadow: 0px 8px 5px rgb(0 0 0);
    font-family: 'Lobster Two', cursive;
  }

.seccion-productos p{
font-family: 'Raleway', sans-serif;
color: black;
font-size: 15px;
font-style: normal;
font-weight: bold;
text-align: center;
margin: 10px;
  }
  .seccion-productos h5{
    font-family: 'Raleway', sans-serif;

  color:rgb(21, 91, 131);
}
