footer{
    width: 100%;
    height: auto;
    background-color: rgb(12, 32, 99);
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 1%;
  
  }
  .footer a {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 5px;
  
  }
  .col i{
    padding: 10px;
  }