<footer>
    <section class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <i class="fas fa-phone-square-alt"></i><a href="tel:+5492646619778"> Llamanos</a>
  
          <i class="far fa-envelope"></i> <a href="mailto:braian.peresjachal@gmail..com"> Contactanos</a>
          
          <i class="fab fa-whatsapp"></i>  <a href="https://wa.me/XXXXXXXXXXX"> WhatsApp</a>
        </div>
        <div class="col">
          Diseñado por Braian Peres 
        </div>
        <div class="col">
          <div class="col">
            <a>Nuestras redes</a>
            <i class="fab fa-twitter"> </i>
            <i class="fab fa-facebook-square"> </i>
            <i class="fab fa-instagram"> </i>
          </div>
        </div>
      </div>
    </div>
  </section>
  </footer>