<div class="inicio">
  <div class="imagen" id="inicio">
    <section class="container-fluid"></section>
    <!--Esta es la parte del hero-->
    <section class="hero">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        </div>

        <!--Carousel!!!-->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/dermaglos-solar.png" class="d-block w-100" alt="dermaglos">
          </div>
          <div class="carousel-item">
            <img src="assets/eximia.png" class="d-block w-100" alt="eximia">
          </div>
          <div class="carousel-item">
            <img src="assets/axe_40off.jpg" class="d-block w-100" alt="axe">
          </div>
          <div class="carousel-item">
            <img src="assets/cepage.png" class="d-block w-100" alt="cepage">
          </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button> -->
      </div>
    </section>
  </div>
</div>
