<!--Esta es la parte del contacto-->
<section class="contacto" id="contacto">
    <h2>Contactos</h2>
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="iframe">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5796.961255517551!2d-68.74701726266814!3d-30.240105276632047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968367880d2969ad%3A0x75e662567ba4e732!2sFarmacia%20Ceri!5e0!3m2!1ses!2sar!4v1636335047410!5m2!1ses!2sar"
                            width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
                <div class="col">
                    <form class="row g-1 needs-validation" novalidate>
                        <div class="col-md-6">
                            <label for="validationCustomUsername" class="form-label"></label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend">Nombre</span>
                                <input type="text" class="form-control" id="validationCustomUsername"
                                    aria-describedby="inputGroupPrepend" required>
                                <div class="invalid-feedback">
                                   Por favor ingrese un nombre.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="validationCustomUsername" class="form-label"></label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend">Email</span>
                                <input type="text" class="form-control" id="validationCustomUsername"
                                    aria-describedby="inputGroupPrepend" required>
                                <div class="invalid-feedback">
                                   Por favor ingrese un email.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="validationTextarea" class="form-label"></label>
                            <textarea class="form-control" id="validationTextarea"
                                placeholder="Por favor escriba su mensaje aquí!"></textarea>

                        </div>

                        <div class=" boton col-md-12">
                            <button class="btn btn-primary" type="submit margin=2">Enviar Mensaje</button>
                        </div>
                    </form>
                </div>
            </div>
</div>
</section>
</section>