.contacto{
  width: 100%;
  background-color: rgb(21, 91, 131);
  text-align: center;
padding: 3%;
}
.contacto h2{
padding-top: 20px;
margin-top: 0px;
color: white;
font-size: 30px;
text-shadow: 0px 8px 5px rgb(0 0 0);
font-family: 'Lobster Two', cursive;
  }

.contacto h2{
    padding-top: 20px;
    margin-top: 0px;
    color: white;
    font-size: 30px;
    text-shadow: 0px 8px 5px rgb(0 0 0);
    font-family: 'Lobster Two', cursive;
  }

  .boton{
    padding: 10px;
  }
